#=============================================================
# Telegram Bot API 
#=============================================================

TELEGRAM_BOT_TOKEN=

#=============================================================
# MTProto 
#=============================================================

MTPROTO_API_ID=
MTPROTO_API_HASH=

MTPROTO_SESSION_NAME=

#=============================================================
# Database 
#=============================================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

#=============================================================
# Application 
#=============================================================

APP_VERSION=0.0.1
ENVIRONMENT=example
APP_NAME=afishabot
TIMEZONE=Europe/Moscow
LOG_LEVEL=INFO
DEBUG=True

#=============================================================
# Access
#=============================================================

OWNER_ID=
ADMIN_IDS=
